.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $footerHeight;
  &__container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__copy {
    margin: 0 auto;
    font-family: "Red Hat Text";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    @media (max-width: 645.98px) {
      display: none;
    }
  }
  &__social {
    margin-left: auto;
    @media (max-width: 645.98px) {
      margin-left: 0;
    }
  }
}

.social-icon {
  position: absolute;
  right: 15px;
  display: flex;
  &__img {
    &:not(:last-child) {
      margin-right: 20px;
    }
    opacity: 0.6;
    transition: $standartTrans;
    &:hover {
      opacity: 1;
    }
  }
  @media (max-width: 645.98px) {
    position: relative;
    right: 0;
  }
}
